
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: orange;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;  /* Uncomment if you want to set a "starting" position */
   top: 100px;   /* Uncomment if you want to set a "starting" position */
}

#leftPaddle {
  background-color: red;
  border-radius: 30px;
  width: 20px;
  height: 80px;
  position: absolute;
  left: 15px
}

#rightPaddle {
  background-color: blue;
  border-radius: 30px;
  width: 20px;
  height: 80px;
  position: absolute;
  left: 400px;
}

